@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap');

/*font-family: 'Bebas Neue', cursive;
font-family: 'Poppins', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #fefefe;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: url('https://images.unsplash.com/photo-1590234229790-b210b3dcd422?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 90vh;
}

.menu {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #fefefe;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color:  #a83c11;
    
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    width: 100%;
}

.header p{
    font-size: 30px;
    color: #fefefe;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20px;
}

.header-txt{
    width: 50%;;
}

.ofertas{
    display: inline-block;
    font-size: 12px;
    padding: 5px 13px;
    margin: 20px;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 25px;
    background-color: #F5BE20;
    margin-bottom: 35px;
}

.header-txt h1{
    font-size: 110px;
    line-height: 110px;
    margin: 10px;
    font-family:'Bebas Neue', cursive;
    color: #ffffff;
    margin-bottom: 35px;
}

.btn-1{
    display: inline-block;
    padding: 13px 25px;
    margin: 10px;
    border-radius: 200px;
    background-color: #a83c11;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
}

.btn-1:hover{
    background-color:  #14202a;
}

.oferta{
    background-image: url('https://images.unsplash.com/photo-1571407970349-bc81e7e96d47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 0 0;
    display: flex;
    align-items: center;
}


.oferta-txt{
    width: 50%;
    margin: 20px;
}

h2{
    font-size: 55px;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #101010;
}

p{
    font-size: 16px;
    color: #101010;
    margin-bottom: 25px;
}

.pizzas{
    text-align: center;
    padding: 0 0 100px 0;

}

.pizzas-content{
    margin: 50px 0 70px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}

.pizza-1{
    width: 400px;
    padding: 25px 50px;
}

.pizza-1 img{
    width: 200px;
}

.pizza-1 h3{
    text-transform: uppercase;
    font-weight: 800;
    margin: 15px 0;
}

.pizza-1 span{
    display: block;
    font-size: 20px;
    font-weight: 800;
    color: #a83c11;
    margin-bottom: 15px;
}