@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fasthand&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

/*font-family: 'Bebas Neue', cursive;
font-family: 'Poppins', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #fefefe;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: url('https://images.unsplash.com/photo-1590234229790-b210b3dcd422?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 90vh;
}

.menu {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #fefefe;
    font-family: 'Fasthand', cursive;
    font-size: 40px;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color:  #a83c11;
    
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    width: 100%;
}

.header p{
    font-size: 30px;
    color: #fefefe;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20px;
}

.header-txt{
    width: 50%;;
}

.ofertas{
    display: inline-block;
    font-size: 12px;
    padding: 5px 13px;
    margin: 20px;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 25px;
    background-color: #F5BE20;
    margin-bottom: 35px;
}

.header-txt h1{
    font-size: 110px;
    line-height: 110px;
    margin: 10px;
    font-family:'Bebas Neue', cursive;
    color: #ffffff;
    margin-bottom: 35px;
}

.btn-1{
    display: inline-block;
    padding: 13px 25px;
    margin: 10px;
    border-radius: 200px;
    background-color: #a83c11;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
}

.btn-1:hover{
    background-color:  #14202a;
}

.oferta{
    background-image: url('https://images.unsplash.com/photo-1571407970349-bc81e7e96d47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 0 0;
    display: flex;
    align-items: center;
}


.oferta-txt{
    width: 50%;
    margin: 20px;
}

h2{
    font-size: 55px;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #101010;
}

p{
    font-size: 16px;
    color: #101010;
    margin-bottom: 25px;
}

.pizzas{
    text-align: center;
    padding: 0 0 100px 0;

}

.pizzas-content{
    margin: 50px 0 70px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 150px;
}

.pizza-1{
    width: 400px;
    padding: 25px 50px;
}

.pizza-1 img{
    width: 200px;
}

.pizza-1 h3{
    text-transform: uppercase;
    font-weight: 800;
    margin: 15px 0;
}

.pizza-1 span{
    display: block;
    font-size: 20px;
    font-weight: 800;
    color: #a83c11;
    margin-bottom: 15px;
}

.Suscripcion{
    padding: 100px 0;
    background-color: #14202a;
}

.Suscripcion-container{
    display: flex;
    align-items: center;
}

.sus-1{
    padding-left: 100px;
    width: 50%;
}

.sus-1 h3{
    font-size: 30px;
    color: #fefefe;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.sus-1 p{
    color: #fefefe;
}

.sus-2{
    width: 50%;
}

form{
    display: flex;
    align-items: center;
}

input{
    width: 350px;
    padding: 15px;
    border: 0;
    outline: none;
    margin-right: 5px;
    border-radius: 150px;
}

.btn-2{
    width: 110px;
    background-color: #a83c11;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fefefe;

}

.btn-2:hover{
    background-color:  #F5BE20;
}

.footer{
    background-color:  #171717;
    padding: 100px 0;
    margin-top: -7%;
}

.footer-content{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.links h3{
    color: #fefefe;
    font-size: 18px;
    margin-bottom: 15px;
}

.links a{
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #ffff;
}

.links a:hover{
    color: #a83c11;
}

@media(max-widht:991px) {

    .menu{
        padding: 30px
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0; 
        right: 0;
        background-color: #F5BE20;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header{
        min-height: 0vh;
        background-position: left bottom;
    }

    .header-content{
        padding: 100px 30px 50px 30px;
    }

    .header-txt{
        width: 100%;
        text-align: center;
    }

    .header-txt h1{
        font-size: 70px;
        line-height: 70px;
    }

    .oferta{
        padding: 30px 30px 0 30px;
        flex-direction: column;
    }

    .oferta-img{
        width: 100%;
        order: 2;
    }

    .oferta-img img{
        height: 400px;
    }

    .oferta-txt{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    h2{
        font-size: 40px;
        line-height: 50px;
    }

    .pizzas{
        padding: 30px;
    }

    .pizzas-content{
        margin: 0;
        grid-template-columns: repeat(1,1fr);
    }

    .pizza-1{
        width: 100%;
        padding: 0;
    }

    .Suscripcion{
        padding: 30px;
    }

    .Suscripcion-container{
        flex-direction: column;
        text-align: center;
    }

    .sus-1, .sus-2{
        padding: 0;
        width: 100%;
    }

    .footer{
        padding: 30px;
    }

    .footer-content{
        flex-direction: column;
        text-align: center;
    }
    


}
